body{
    padding: 0;
    margin: 0;
}
.container{
    height: 100%;
    display: flex;
    justify-content: center;
}
.court{
    background-image: url("./image/court.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 58vh;
    height: 100vh;
    position: relative;
}
.ball{
    width: 5vh;
    height: 5vh;
    z-index: 100;
    cursor: pointer;
    position: absolute;
}
.player{
    width: 4vh;
    height: 4vh;
    text-align: center;
    border-radius: 50%;
    border:1px solid black
}
.Aplayer{
    background-color: royalblue;
}
.Bplayer{
    background-color: red;
}